---
import Navbar from '../components/Navbar.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Reservas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
  </head>

  <body>
    <header>
	
      <h1 class="squid-title">Reservas</h1>
      <Navbar />
    </header>






    <main>
      <div class="bienvenida">
        ¡Bienvenido(a) al sistema de gestión de tu peluquería!
      </div>
      <div class="info">
        Aquí puedes administrar clientes, agendar reservas, llevar el control de pagos y mucho más.<br />
        Selecciona una opción del menú para comenzar.
      </div>
    </main>





  </body>
</html>
